.textWrapper {
  @media (orientation: portrait) {
    display: contents;

    section {
      flex: 1 1 0;
      overflow: auto;
      position: fixed;
      --h: calc(100vh - var(--topnav-height));
      height: calc(var(--h) / var(--tabs));
      width: 100%;
      contain: strict;
      top: calc(var(--topnav-height) + var(--h) / var(--tabs) * var(--tab));
      overflow: hidden;
    }

    section:first-of-type {
      border-bottom: 1px solid #000;
    }

    section:not(:first-of-type) {
      border-top: 1px solid #000;
    }

    .content {
      overflow: auto;
      padding: 0 1rem;
    }

    .shadow {
      visibility: hidden;
    }
  }
  
  @media (orientation: landscape) {
    display: grid;
    grid-template-columns: repeat(var(--tabs), 1fr);
    gap: 1rem;
    padding: 1rem 2rem;

    section {
      display: contents;
    }

    .content > * {
      margin: 0;
      grid-column: calc(var(--tab) + 1);
      grid-row: calc(var(--row) + 1);
    }

    .content {
      display: contents;
    }
    
    .shadow {
      display: none;
    }
  }
}

