:root {
  font-family: Iowan Old Style, Apple Garamond, Baskerville, Times New Roman,
    Droid Serif, Times, Source Serif Pro, serif, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol;

  font-size: 16px;
  text-rendering: optimizelegibility;

  --cl-back: #f8f8f8;
  --cl-surface: #fff;
  --cl-text: rgb(0 0 0 / 87%);
  --cl-hover: rgb(0 0 0 / 8%);

  --font-ui: Gill Sans, system-ui, sans-serif;
  --font-text: Baskerville, serif;

  --topnav-height: 3.5rem;

  background-color: var(--cl-back);
  color: var(--cl-text);
  box-sizing: border-box;
}

:root:global(.inverted) {
  background-color: var(--cl-surface);
}

body {
  margin: 0;
  padding-top: var(--topnav-height);
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
