.pane {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 40rem;
  max-width: 100%;
  padding: 0 1rem;
  padding-top: 2rem;
  font-family: var(--font-text);
  overflow: hidden;
  white-space: pre-wrap;

  > div:not([class]) {
    display: contents;

    > div {
      flex-grow: 1;
      padding-top: 1rem;
      font-size: 1.23rem;

      &:focus {
        outline: none;
      }
    }
  }

  .title {
    position: relative;
    z-index: 1;
    
    textarea {
      font-size: 1.8rem;
      line-height: 1.4;
      border-bottom: 1px solid #000;
    }
  }

  .highlightTitle::before {
    content: '';
    position: absolute;
    z-index: -1;
    --padd-vert: 0.3em;
    --padd-hori: 0.5em;
    left: calc(var(--padd-hori) * -1);
    top: calc(var(--padd-vert) * -1);
    width: calc(100% + var(--padd-hori) * 2);
    height: calc(100% + var(--padd-vert) * 2);
    border-radius: 0.5em;
    background-color: var(--row-highlight-color);
  }

  :global(.ProseMirror) {
    display: grid;
    grid-auto-rows: min-content;
    grid-template-rows: var(--rows);
    gap: 0.5em;

    > * {
      margin: 0;
      justify-self: start;
      height: min-content;
      width: 100%;
      position: relative;
      z-index: 1;
    }
  }
}

.highlighted {
  background-color: var(--cl-surface);
}
