.wrapper {
  display: flex;
  padding: 0 2rem;
  justify-content: center;
  align-items: start;
  min-height: 100%;
  overflow: auto;
  padding-bottom: 4rem;
}

.highlight {
  background-color: var(--cl-back);
}
