.bar {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 3.5rem;
  background-color: var(--cl-surface);
  box-shadow: 1px 1px rgb(0 0 0 / 5%), 0 1px 1px rgb(0 0 0 / 5%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
  font-family: var(--font-ui);
  user-select: none;
}

.left,
.right {
  display: flex;
  align-items: center;
}

.right {
  margin-right: -0.9rem;
}

.logo {
  font-size: 1.4rem;
  font-family: var(--font-text);
}

.signInButton {
  text-transform: uppercase;

  &.signedIn {
    text-transform: unset;
  }
}

.loading {
  width: 1.3rem;
  height: 1.3rem;
  margin-right: 0.9rem;
}
